# System
NODE_ENV=development
PORT=3000

# Mongodb
# MONGO_HOST=mongodb
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=e_commerce_maon
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=123456
COLLATION_LOCALE=en_US

# MySQL
# MYSQL_HOST=mysqldb
MYSQL_HOST=localhost
MYSQL_PORT=33062
MYSQL_DATABASE=e_commerce_maon
MYSQL_ROOT_USER=maon
MYSQL_ROOT_PASSWORD=12345678